My workflow_mysql.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5999e5be-9f3b-476a-ad91-2b8e3ba62103",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ai2YRhwCZxkvqRHo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b160593f-bc2a-43ce-ae2b-319f72ec31f4",
              "name": "=sender",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "089c5c33-1489-46a6-8a8f-b629d575e187",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "838a26b3-7aac-4657-9b90-929a11686e30",
              "name": "message",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "659317c6-83d4-447c-b9b0-42750ebdb620",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b407f0a8-ab88-408e-a3e3-3843e3c609d0",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "=problème",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "10970f6b-20df-4b1b-a7bf-e8dadb7e2fe4",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "erreur",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "6967f2b8-61e7-41cc-aed6-b56935996bad",
              "leftValue": "={{ $json.subject.toLowerCase() }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "3e739c82-60d8-45aa-bb7d-58b46030b611",
      "name": "Filter"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "emails_urgents",
          "mode": "list",
          "cachedResultName": "emails_urgents"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "expediteur",
              "value": "={{ $('Edit Fields').item.json.sender }}"
            },
            {
              "column": "sujet",
              "value": "={{ $('Edit Fields').item.json.subject }}"
            },
            {
              "column": "message",
              "value": "={{ $('Edit Fields').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        624,
        0
      ],
      "id": "e1bb04e5-fa54-48ad-9d56-c58883e6f412",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "pDisiytkcEFeQdwe",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "69081a07-87d6-4702-b160-5f7ef71aea0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "730d8be524dc422d4928d162a75a8adfbf027663bfed96becdbdc2c949a949b9"
  },
  "id": "WfOUKr8jxfGgbs3O",
  "tags": []
}