My_workflowavecGEMINI.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5999e5be-9f3b-476a-ad91-2b8e3ba62103",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ai2YRhwCZxkvqRHo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b160593f-bc2a-43ce-ae2b-319f72ec31f4",
              "name": "=sender",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "089c5c33-1489-46a6-8a8f-b629d575e187",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "838a26b3-7aac-4657-9b90-929a11686e30",
              "name": "message",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "777496c2-61a0-40d8-a265-b1bf0e25074a",
              "name": "type_message",
              "value": "={{ $json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "659317c6-83d4-447c-b9b0-42750ebdb620",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO emails (sender, subject, message, date)\nVALUES (\n  '{{ $json.sender }}',\n  '{{ $json.subject }}',\n  '{{ $json.message }}',\n  '{{ $json.date ? $json.date.format(\"yyyy-MM-dd HH:mm:ss\") : \"\" }}',\n  '{{ $json.type_message}}',\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "4402cd5e-96eb-43f7-b1fe-921187c70480",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "pauEQOEPc4lvvqxK",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-1.5-flash-latest",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "Say only one word: Hello"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "6523408b-1293-4d69-8ce8-1e29c1270408",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ygPv0I6OLmbyOwiB",
          "name": "Gemini_API_PFA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0003fc59-6faa-45b9-a7db-89747a57388f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "730d8be524dc422d4928d162a75a8adfbf027663bfed96becdbdc2c949a949b9"
  },
  "id": "WfOUKr8jxfGgbs3O",
  "tags": []
}